################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/x64
/CMakeFiles
Mp2tStrm/build/*
build/*
*.vcxproj
*.filters
*.user
*.tlog
*.obj
*.exe
*.pdb
*.sln
cmake_install.cmake
CMakeCache.txt
*.lib
CTestTestfile.cmake
*.lastcodeanalysissucceeded
